body{
    background-image: url(https://s-media-cache-ak0.pinimg.com/originals/1e/ef/c5/1eefc5567dc5c55f67ef6849b9235582.jpg);
    background-size: cover;
}
h1{
    font-size: 50px;
    font-family: monospace;
    text-align: center;
    color: white;
}
.forms{
    color: aliceblue;
    font-size: 25px;
    
}